@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --body-color:#24a50f;
    --color-barra-lateral:rgb(255, 255, 255);

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(134,136,144);

    --color-menu-hover:#24a50f;
    --color-menu-hover-texto:rgb(0,0,0);

    --color-boton:#24a50f;
    --color-boton-texto:rgb(255, 255, 255);

    --color-linea:rgb(180,180,180);
     
    --color-switch-base:rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb( 192,192,192);
    --color-scroll-hover:#24a50f;
}
.dark-mode{ 
    --body-color:#18191A;
    --color-barra-lateral:rgb(44,45,49);

    --color-texto:rgb(255,255,255);
    --color-texto-menu:rgb(110,110,117);

    --color-menu-hover:#117101;
    --color-menu-hover-texto:rgb(255,255,255);

    --color-boton:rgb(255,255,255);
    --color-boton-texto:rgb(0,0,0);

    --color-linea:rgb(90,90,90);

    --color-switch-base:rgb(39,205,64);
    --color-switch-circulo:rgb(255,255,255);

    --color-scroll:rgb( 68,69,74);
    --color-scroll-hover:#24a50f;
     
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--body-color);  
}
/* menu */
.menu{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-menu-hover-texto);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
    z-index: 100;
}

/* Barra lateral */
.barra-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease,background-color 0.4s ease,left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral {
    width: 80px;
}

.barra-lateral  span{
    font-size: 18px;
    width: 100px;
    white-space: nowrap;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}
.barra-lateral input.oculto{
    opacity: 0;
    width: 0;
}
.barra-lateral span.oculto {
     opacity: 0;
     width: 0;
}

/* Nombre de la Aplicacion */
.barra-lateral .nombre-pagina {
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    color: var(--color-texto);
    display: flex;
    align-items: center;
}

.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra-lateral .nombre-pagina span {
    margin-left: 5px;
    font-size: 25px;
}


/* Boton */
.barra-lateral .boton {
    width: 100%;
    height: 45px;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}
.barra-lateral .boton ion-icon {
    min-width: 50px;
    font-size: 25px;
}

/* Barra de Navegacion*/

.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color:var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion li {
      list-style: none;
      display: flex;
      margin-bottom: 5px;
}
.barra-lateral .navegacion a {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
} 
.barra-lateral .navegacion a:hover{  
     background-color: var(--color-menu-hover);
     color: var(--color-menu-hover-texto);    
}
.barra-lateral .navegacion ion-icon { 
    min-width: 50px;
    font-size: 20px;
}  

/* Linea */
.barra-lateral .linea {
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}

/* Modo Oscuro */

.barra-lateral .modo-oscuro {
    width: 100%;
    border-radius: 10px; 
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.barra-lateral .modo-oscuro .info {
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}

.barra-lateral .modo-oscuro ion-icon {
    width: 50px;
    font-size: 20px;
} 

/* Switch */
.barra-lateral .modo-oscuro .switch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px; 
    cursor: pointer;
}

.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color:var(--color-switch-base);
    border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
}
.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}


/* Usuarioo */

.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-height:50px;
    border-radius: 10px;
}

.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-texto);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
} 

.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
} 

.barra-lateral .usuario .email{
    font-size: 13px;
}
.barra-lateral .usuario ion-icon{
    font-size: 40px;
}

/* main */
main{
    margin-left: 250px;
    padding: 10px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}


/* Responisive */

@media (max-height:660px){
     .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
     }
     .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
     }
}

@media (max-width:600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}
/* Logo */
.img-logo {
    width: 70px;
    height: auto; /* Esto mantiene la proporci칩n de la imagen */
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000px;
}

/* Estilo del footer */
footer {
    background-color:black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#splash-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Personalizaci칩n de la scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }

  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
.atexto {
    color: white;
    text-decoration: none;
    display: flex;
    font-size: 38px;
}

/* Estilos de cartas */

.card-list .card-item {
    list-style: none;
}

 .card-list .card-item .card-link {
   user-select: none;
   display: block;
   padding: 18px;
   border-radius: 12px;
   text-decoration: none;
   border: 2px solid transparent;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0,05);
   transition: 0.2s ease;
 }

 .card-list .card-item .card-link:hover {
      border-color: #000000;
 }

  .card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}
.card-list .card-link .badge {
    color: #117101;
    background-color: var(--color-barra-lateral);
    margin: 16px 0 18px;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 50px;
}
.card-list .card-link .badge.designer {
    color: #000000;
    background-color: #24a50f;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #000000;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    border: 2px solid #117101;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.4s ease;

}

.card-list .card-link:hover .card-button {
    color: #FFFFFF;
    background: #117101;
}


.card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 18px; /* Espacio entre cartas */
    padding: 20px;
    align-items: center;
}

.card-item {
    background-color: var(--color-barra-lateral);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card-item:hover {
    transform: scale(1.05);
}

.card-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilos del carrusel */

/* Login */
.contenedor{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
.contenedor-form{
    width: 100%;
    overflow: hidden;
}
.contenedor-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}
.contenedor-form h2{
    font-size: 30px;
    margin-bottom: 20px;
}


.contenedor-form span{
    font-size: 12px;
    margin-bottom: 15px;
}
.contenedor-input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    background-color: #EEEEEE;
}
.contenedor-input input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}
.contenedor-form a{
    color: black;
    font-size:  14px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.button{
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #24a50f;
    color: white;
}

.sign-up{
    transform: translateX(-100%);
}
.contenedor.toggle .sign-in{
    transform: translateX(100%);
}
.contenedor.toggle .sign-up{
    transform: translateX(0);
}

.contenedor-welcome{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: #24a50f;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
}
.contenedor.toggle .contenedor-welcome{
    transform: translateX(0);
    border-radius: 0 50% 50% 0;
    background-color: #24a50f;
}
.contenedor-welcome .welcome{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    color: white;
    transition: transform 0.5s ease-in-out;
}
.welcome-sign-in{
    transform: translateX(100%);
}
.contenedor-welcome h3{
    font-size: 40px;
}
.contenedor-welcome p{
    font-size: 14px;
    text-align: center;
}
.contenedor-welcome .button{
    border: 2px solid white;
    background-color: transparent;
}

.contenedor.toggle .welcome-sign-in{
    transform: translateX(0);
}
.contenedor.toggle .welcome-sign-up{
    transform: translateX(-100%);
}

/* Estilos del modal */
/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-content p {
    margin-bottom: 15px;
}

.modal-content a {
    color: #24a50f;
    font-weight: bold;
}



/* Secci칩n de reservas */
.reservas-section {
    display: flex;
    padding-left: 7%;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 1200px;
}

/* Tarjetas de reserva */
.reserva-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-left: 6px solid #084ac5;
}

.reserva-card h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
}

.reserva-card p {
    margin: 5px 0;
    color: #666;
    font-size: 1.1em;
}

.reserva-card strong {
    color: #000000;
}

/* Estilo del LOGOUT MANO */
.confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos del mapa */
.mapa-contenedor{
    position: relative;
    align-items: center;
    margin: 4.5rem;
    width: 1100px;
    height: 650px;
    border: 1rem solid white;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
}



/* rese침as */

.review-list {
    max-height: 100px;
    overflow-y: auto;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    width: 500px;
}
.stars {
    color: #FFD700; /* Color dorado */
}
